body {
  background-color: cadetblue;
}

.imgBox {
  background-image: url(4.png);
  background-repeat: no-repeat;
  position: relative;
  height: 100px;
  width: 100px;
  left: 11px;
  top: 11px;
  cursor: pointer;
}

.khakhiBox {
  display: inline-block;
  height: 130px;
  width: 123px;
  margin: 13px;
  background-color: darkkhaki;
  border: 4px solid rgb(0, 0, 0);
}

.hold {
  border: 4px solid red;
  border-style: dashed;
}

.hide {
  display: none;
}
